*{
    margin: 0;
    padding: 0;
}
body{
background-color:#feb3a3 ;
}


.header{ /* горно поле */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94,5%;
    padding:20px 50px;
    background-color:#954971;
}
.logo img{
  width: 300px;
}

.logo img:hover {
  -webkit-filter: brightness(120%);
}

nav ul{
    display: flex;
}
nav ul li{/*линии-горе,menu  */
    list-style: none;
    margin: 0 15px;
    padding: 0 10px;
    border-left: 2px solid white;
    border-right: 2px solid white ;
}
nav ul li:hover{
  border-left: 2px solid   #a0d8f3;
  border-right: 2px solid  #a0d8f3;
}
nav ul li a{ /*  горни бутони*/
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  margin-inline: 10px;
  font-size: 28px;
  font-family: Oranienbaum;
}
nav ul li a:hover{
  color:  #a0d8f3;
}




.zaglavie{
    padding-top:40px;

    padding-bottom: 2px;

    padding-left: 540px;
    font-size: 18px;
    color: white;
  }

  .dolu{
    font-size: 13px;
    padding-top:30px;
    padding-left: 20px;
    color: white;
    margin-bottom: 30px;
    text-align: center;
  }

.holdingcontainer{
      max-width: 100%;
      display: flex;
      background-image:url("C:/Users/stela/OneDrive/Desktop/diploma2/sun2.jpg");
      padding: 50px;
      box-sizing: border-box;
      flex-direction: row;
      margin-top:50px;
    }

    .internalcontainerL{
      flex: 1;
      background: rgba(0, 0, 0, 0);
      padding: 30px;
      font-size: 29px;
      margin: 3px;
      color:  white;

    }

    .internalcontainerM{
      flex: 1;
      background:rgba(0, 0, 0, 0);
      padding: 30px;
      font-size: 29px;
          color:  white;
      margin: 3px;
    }

    .internalcontainerR{
      flex: 1;
      background:rgba(0, 0, 0, 0);
      padding: 30px;
      font-size:29px;
          color: white;
      margin: 3px;
    }

    @media screen and (max-width: 768px){
      .holdingcontainer{
        flex-direction: column-reverse;
      }
    }
p{
  margin-top: 25px;
}
